<section id="wrapper" class="skewed">
    <a [routerLink]="['/comics', 1, 'page', 1]">
        <div class="layer bottom">
            <div class="content-wrap right-content-wrap">
                <div class="content-body right-content-body">
                    <div class="content-table">
                        <div class="content-cell">
                            <!--Комикс-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a [routerLink]="['/game']">
        <div class="layer top">
            <div class="content-wrap left-content-wrap">
                <div class="content-body left-content-body">
                    <div class="content-table">
                        <div class="content-cell">
                            <!--Игра-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

</section>
