<div class="navigation-container">
    <mat-grid-list cols="12" rowHeight="100px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-form-field [style.width]="'100%'">
                <mat-select placeholder="Глава" [style.width]="'100%'" [ngModel]="currentChapterNumber"
                            (valueChange)="onChapterChange($event)">
                    <mat-option *ngFor="let chapter of chapters" [value]="chapter.number">
                        {{ chapter.number }} - {{ chapter.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button matTooltip="Предыдущая страница" [disabled]="!hasPreviousPage()"
                    (click)="goBackward()">
                <mat-icon aria-label="Предыдущая страница">arrow_back</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <mat-select placeholder="Страница" [ngModel]="currentPageNumber" (valueChange)="onPageChange($event)">
                    <mat-option *ngFor="let page of pages" [value]="page.number">
                        {{ page.number }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button matTooltip="Следующая страница" [disabled]="!hasNextPage()" (click)="goForward()">
                <mat-icon aria-label="Следующая страница">arrow_forward</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div id="card-container">
    <mat-card #imageCard id="imageCard">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ currentChapter.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="currentPage.image.file" [alt]="currentPage.number" (click)="goForward()">
        <mat-card-content>
            <!--content-->
        </mat-card-content>
    </mat-card>
</div>

<div class="navigation-container">
    <mat-grid-list cols="12" rowHeight="100px">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <mat-form-field [style.width]="'100%'">
                <mat-select placeholder="Глава" [style.width]="'100%'" [ngModel]="currentChapterNumber"
                            (valueChange)="onChapterChange($event)">
                    <mat-option *ngFor="let chapter of chapters" [value]="chapter.number">
                        {{ chapter.number }} - {{ chapter.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button matTooltip="Предыдущая страница" [disabled]="!hasPreviousPage()"
                    (click)="goBackward()">
                <mat-icon aria-label="Предыдущая страница">arrow_back</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-form-field>
                <mat-select placeholder="Страница" [ngModel]="currentPageNumber" (valueChange)="onPageChange($event)">
                    <mat-option *ngFor="let page of pages" [value]="page.number">
                        {{ page.number }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <button mat-raised-button matTooltip="Следующая страница" [disabled]="!hasNextPage()" (click)="goForward()">
                <mat-icon aria-label="Следующая страница">arrow_forward</mat-icon>
            </button>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="discussion-container">
    <mat-card id="disqus-card">
        <disqus [identifier]="router.url"></disqus>
    </mat-card>
</div>
